<!DOCTYPE html>
<html>
  <head>
    <title>CS3300</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="welcome">
  <% if user_signed_in? %>
    <h2> Hello, <%=current_user.email%> </h2>
  <% else %>
    <h2> Hello there!! </h2>
  <% end %>

</div>

<body>
  <%= yield %>
</body>

<div class="options">
  <% if user_signed_in? %>
    <button><%= link_to "logout", destroy_user_session_path, method: :delete %></button>
  <% else %>
    <button><%= link_to "login", new_user_session_path %></button>
    <button><%= link_to "register", new_user_registration_path %></button>
  <% end %>
</div>
</html>

